@import url("https://fonts.googleapis.com/css?family=Anton|Graduate|Lobster|Open+Sans+Condensed:300,700");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: "Graduate", cursive;
  color: #fff;
  font-size: 18px;
  background: #F39B6D;
  padding: 10px 20px 10px 20px;
  border: 3px solid #e75c13;
  text-decoration: none;
  cursor: pointer; }
  button:hover {
    background: #F39B6D;
    background-color: #F39B6D;
    background-image: -webkit-linear-gradient(#F39B6D, #F27F41);
    background-image: linear-gradient(#F39B6D, #F27F41);
    text-decoration: none; }

body {
  margin: 0;
  border: 0;
  padding: 0; }

h1 {
  font-family: "Graduate", cursive;
  color: #fdffad;
  text-align: center; }

.card1 {
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
  float: left; }
  .card1::after {
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-image: url("../img/desert2.jpg"); }

.photo1 {
  width: 80vw;
  height: 40vh;
  background-size: cover;
  background-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
  background-image: url("../img/desert.jpg"); }

.card2 {
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
  float: left; }
  .card2::after {
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-image: url("../img/city2.jpg"); }

.photo2 {
  width: 80vw;
  height: 40vh;
  background-size: cover;
  background-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
  background-image: url("../img/city.jpg"); }

.card3 {
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
  float: left; }
  .card3::after {
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-image: url("../img/lake2.jpg"); }

.photo3 {
  width: 80vw;
  height: 40vh;
  background-size: cover;
  background-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
  background-image: url("../img/lake.jpg"); }

.card4 {
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
  float: left; }
  .card4::after {
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-image: url("../img/beach2.jpg"); }

.photo4 {
  width: 80vw;
  height: 40vh;
  background-size: cover;
  background-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
  background-image: url("../img/beach.jpg"); }

/*# sourceMappingURL=application.css.map */
