@import 'bourbon/bourbon';
@import 'neat/neat';
@import "base/index";
@import "layout/index";
@import "components/index";

body {
  margin: 0;
  border: 0;
  padding: 0;
}

h1 {
  font-family: $header-font;
  color: $yellow;
  text-align: center;
}

.card1 {
  @include card-background;
  // background: $orange;
    &::after {
      @include background-image;
      background-image: url('../img/desert2.jpg');
  }
}

.photo1 {
  @include card-image;
  background-image: url('../img/desert.jpg');
}

.card2 {
  @include card-background;
  // background: #F39B6D;
    &::after {
      @include background-image;
      background-image: url('../img/city2.jpg');
  }
}

.photo2 {
  @include card-image;
  background-image: url('../img/city.jpg');
}

.card3 {
  @include card-background;
  // background: #F39B6D;
    &::after {
      @include background-image;
      background-image: url('../img/lake2.jpg');
  }
}

.photo3 {
  @include card-image;
  background-image: url('../img/lake.jpg');
}

.card4 {
  @include card-background;
  // background-color: #F39B6D;
    &::after {
      @include background-image;
      background-image: url('../img/beach2.jpg');
  }
}

.photo4 {
  @include card-image;
  background-image: url('../img/beach.jpg');
}
