@import 'bourbon/bourbon';
@import 'neat/neat';
@import "base/index";
@import "layout/index";
@import "components/index";

body {
  margin: 0;
  border: 0;
  padding: 0;
}

h1 {
  font-family: $header-font;
  color: $yellow;
  @extend %header-format;
}

.content {
  @extend %copy-format;
  p {
    font-family: $copy-font;
    color: $white;
  }
}

.card1 {
  @include card-background;
  // background: $orange;
    &::after {
      @include background-image;
      background-image: url('../img/desert2.jpg');
  }
}

.photo1 {
  @include card-image;
  background-image: url('../img/desert.jpg');
}

.card2 {
  @include card-background;
  // background: #F39B6D;
    &::after {
      @include background-image;
      background-image: url('../img/city2.jpg');
  }
}

.photo2 {
  @include card-image;
  background-image: url('../img/city.jpg');
}

.card3 {
  @include card-background;
  // background: #F39B6D;
    &::after {
      @include background-image;
      background-image: url('../img/lake2.jpg');
  }
}

.photo3 {
  @include card-image;
  background-image: url('../img/lake.jpg');
}

.card4 {
  @include card-background;
  // background-color: #F39B6D;
    &::after {
      @include background-image;
      background-image: url('../img/beach2.jpg');
  }
}

.photo4 {
  @include card-image;
  background-image: url('../img/beach.jpg');
}

// media queries

@media only screen and (min-width:$desktop) {
  #first-row {
    @include row-large;
  }

  .card1 {
    @include card-large;
    .photo1 {
    width:40vw;
  }
  }

  .card2 {
    @include card-large;
    .photo2 {
    width:40vw;
  }
  }

  #second-row {
    @include row-large;
  }

  .card3 {
    @include card-large;
    .photo3 {
    width:40vw;
  }
  }

  .card4 {
  @include card-large;
    .photo4 {
    width:40vw;
  }
  }
}
