// fonts

$nav-font: 'Lobster', cursive;
$header-font: 'Graduate', cursive;
$copy-font: 'Open Sans Condensed', sans-serif;

// colors

$yellow: #fdffad;
$orange: #F39B6D;
$dark-orange: #F27F41;
$white: #fff;
